@model ContosoUniversity.Models.Course

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CourseID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CourseID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Credits)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Credits)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Department.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Department.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TeachingMaterialImagePath)
        </dt>
        <dd>
            @if (!string.IsNullOrEmpty(Model.TeachingMaterialImagePath))
            {
                var alt = string.IsNullOrEmpty(Model.AltText) ? "Teaching Material" : Model.AltText;
                <img src="@Url.Action("Image", "Courses", new { name = Model.TeachingMaterialImagePath })" alt="@alt" style="max-width: 300px; max-height: 300px; border: 1px solid #ddd; padding: 5px;" />
            }
            else
            {
                <em>No image uploaded</em>
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @if (!string.IsNullOrEmpty(Model.Description))
            {
                @Model.Description
            }
            else
            {
                <em>No description</em>
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LearningObjectives)
        </dt>
        <dd>
            @if (!string.IsNullOrEmpty(Model.LearningObjectives))
            {
                <ul>
                    @foreach (var line in Model.LearningObjectives.Split(new[] { '\n', '\r' }, System.StringSplitOptions.RemoveEmptyEntries))
                    {
                        <li>@line.Trim('-', ' ', '\t')</li>
                    }
                </ul>
            }
            else
            {
                <em>No learning objectives</em>
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AltText)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AltText)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CourseID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
